@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar scrollbar horizontal */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
html {
  scroll-behavior: smooth;
}